.header__logo {
  padding-bottom: 36px;
  width: 142px;
}

@media (max-width: 1000px) {
  .header__logo {
    padding-left: 64px;
  }
}

@media (max-width: 500px) {
  .header__logo {
    padding-left: 27px;
    width: 103px;
    padding-bottom: 27px;
  }
}
