.profile__info {
  padding-top: 22px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, max-content);
  align-items: baseline;
  column-gap: 19px;
  row-gap: 8px;
  max-width: 400px;
}

@media (max-width: 600px) {
  .profile__info {
    padding-top: 26px;
    column-gap: 10px;
  }
}
