.popup__close-button {
  border: none;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/close-button-image.svg);
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity .5s linear;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: .6;
}

@media (max-width: 600px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
    background-size: contain;
  }
}
