.form__input {
  width: 100%;
  padding: 0;
  border: none;
  padding-bottom: 9px;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: inherit;
}

.form__input::placeholder {
  color: #c4c4c4;
}

@media (max-width: 600px) {
  .form__input:first-of-type  {
    padding-bottom: 9px;
  }
}
